<style> .leche {
    color: white; 
                   background-color: brown; } 
.carne { 
    color: white; 
                    background-color: red; }
 .frutas { 
    color: black; 
                    background-color: yellow; } 
 .verduras { 
    color: white; 
                    background-color: green; } 
 .granos { 
    color: white; 
                    background-color: lightblue; }
  </style> <ul> 
  <li class="leche">Leche</li> 
  <li class="carne">Pollo</li> 
  <li class="frutas">Fresas</li> 
  <li class="verduras">Espinacas</li> 
  <li class="granos">Arroz</li> </ul>