.leche {
    color: white; 
                   background-color: brown; } 
.carne { 
    color: white; 
                    background-color: red; }
 .frutas { 
    color: black; 
                    background-color: yellow; } 
 .verduras { 
    color: white; 
                    background-color: green; } 
 .granos { 
    color: white; 
                    background-color: lightblue; }
li{
   max-width: 150px;
}